*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgb(255, 255, 255)
}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px ;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

#header{
    height: 145px;
    background-color: rgb(255, 255, 255);
}

#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;
}

#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: rgb(150, 0, 0);
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px #ff0000, 0px 0px 4px #ff9100

}

/* Menu */
#menu{
    clear:both;
    background: #940000;
    color: white;
    height: 55px;
    border-bottom: 4px solid #ffffff;
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;

}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #ffffff6c;
}

#menu a{
    display: block;
    color: aliceblue;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}

#menu a:first-child{
    border-left: 1px solid #ffffff;
}

#menu a:hover{
    background: #ff0000a2;
}

#content{
    margin: 0px auto;
    overflow: hidden;
    background: #970000;
    border: 4px solid #d80000;
}