*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgb(255, 255, 255)
}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px ;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

#header{
    height: 145px;
    background-color: rgb(255, 14, 14);
}

#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;
}

#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px #222, 0px 0px 4px #ff9100

}