*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgb(71, 82, 129)
}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px ;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(89, 139, 183);
}

#header{
    height: 145px;
    background-color: rgb(54, 154, 169);
}

#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;
}

#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
}