*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgb(255, 125, 240)
}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 1px solid rgb(0, 0, 0);
    border: 1px solid red;
}